version: '3.10'
services:
  qdrant:
    image: qdrant/qdrant:latest
    ports:
      - '6333:6333'
    environment:
       QDRANT__SERVICE__GRPC_PORT: 6334
    volumes:
     - ./qdrant_storage:/qdrant/storage
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:6333/collections"]
      interval: 10s
      timeout: 5s
      retries: 5